USE [master]
GO
/****** Object:  Database [BaseDeDatosHD]    Script Date: 02/09/2017 09:54:58 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'BaseDeDatosHD')
BEGIN
CREATE DATABASE [BaseDeDatosHD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDeDatosHD', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BaseDeDatosHD.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BaseDeDatosHD_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BaseDeDatosHD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDeDatosHD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
